.footer-container, .main-container, .header-container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1279px) {
  .footer-container, .main-container, .header-container {
    padding: 0 max(30px, 3.125%);
  }
}
@media screen and (max-width: 767px) {
  .footer-container, .main-container, .header-container {
    padding: 0 max(10px, 3.125%);
  }
}
@media screen and (max-width: 375px) {
  .footer-container, .main-container, .header-container {
    padding: 0 10px;
  }
}

.logo-dark, .logo-bright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: fit-content;
  height: 60px;
  text-decoration: none;
}
.logo-dark .logo-title, .logo-bright .logo-title {
  font-size: 32px;
  line-height: 115%;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  transition: color 0.2s, filter 0.1s;
}
.logo-dark .logo-subtitle, .logo-bright .logo-subtitle {
  margin-left: 4px;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  transition: color 0.2s, filter 0.1s;
}
.logo-dark:active .logo-title, .logo-bright:active .logo-title, .logo-dark:active .logo-subtitle, .logo-bright:active .logo-subtitle {
  filter: blur(0.5px);
}

.nav-menu_dark, .nav-menu_bright, .nav-menu_mobile {
  width: 443px;
  height: 27px;
  margin-top: 16px;
  margin-left: auto;
  overflow: hidden;
  transition: width .6s;
}
.nav-menu_dark .nav-list, .nav-menu_bright .nav-list, .nav-menu_mobile .nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-menu_dark .nav-list .nav-link, .nav-menu_bright .nav-list .nav-link, .nav-menu_mobile .nav-list .nav-link {
  position: relative;
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  transition: color 0.3s;
}
.nav-menu_dark .nav-list .nav-link::after, .nav-menu_bright .nav-list .nav-link::after, .nav-menu_mobile .nav-list .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: -7px;
  height: 3px;
  background: #F1CDB3;
  transition: left 0.2s, right 0.2s, filter 0.2s;
}
@media screen and (max-width: 767px) {
  .nav-menu_dark, .nav-menu_bright, .nav-menu_mobile {
    width: 0;
  }
}
@media screen and (max-width: 320px) {
  .nav-menu_dark, .nav-menu_bright, .nav-menu_mobile {
    display: none;
  }
}

.burger_bright, .burger_dark {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 22px;
  z-index: 4;
  transition: width .6s, transform .6s;
}
.burger_bright .burger__line, .burger_dark .burger__line {
  top: calc(50% - 1px);
}
.burger_bright::before, .burger_dark::before {
  content: "";
}
.burger_bright::after, .burger_dark::after {
  content: "";
  bottom: 0;
}
@media screen and (max-width: 767px) {
  .burger_bright, .burger_dark {
    width: 30px;
  }
}
@media screen and (max-width: 320px) {
  .burger_bright, .burger_dark {
    margin-left: auto;
  }
}

.burger_bright .burger__line, .burger_dark .burger__line, .burger_bright::before, .burger_dark::before, .burger_bright::after, .burger_dark::after {
  transition: width .6s, transform .6s, background-color .6s;
  position: absolute;
  height: 2px;
  width: 100%;
}

.nav-menu_mobile_dark .nav-list .nav-link_active, .nav-menu_mobile_bright .nav-list .nav-link_active, .nav-menu_dark .nav-list .nav-link_active, .nav-menu_bright .nav-list .nav-link_active {
  pointer-events: none;
}
.nav-menu_mobile_dark .nav-list .nav-link_active::after, .nav-menu_mobile_bright .nav-list .nav-link_active::after, .nav-menu_dark .nav-list .nav-link_active::after, .nav-menu_bright .nav-list .nav-link_active::after {
  left: 0;
  right: 0;
}
.nav-menu_mobile_dark .nav-list .nav-link_active:active::after, .nav-menu_mobile_bright .nav-list .nav-link_active:active::after, .nav-menu_dark .nav-list .nav-link_active:active::after, .nav-menu_bright .nav-list .nav-link_active:active::after {
  filter: none;
}

.not-only__title, .popup__description-list, .popup__pet-description, .donation-information, .popup__pet-breed, .pet-card-title, .contacts-link, .donation-number, .contribution-title, .popup__pet-name, .contacts-title, .in-addition-title, .help-title, .our-friends-title, .about-content__title {
  margin: 0;
  font-weight: 400;
}

.pet-card-learn-more, .button-active-small-text, .button-inactive-small-text, .button-interactive-small-text, .button-interactive-small-svg, .button-interactive-wide-no-background, .button-interactive-wide {
  cursor: pointer;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  transition: background-color 0.2s, border-color 0.2s, filter 0.2s;
}
.pet-card-learn-more svg, .button-active-small-text svg, .button-inactive-small-text svg, .button-interactive-small-text svg, .button-interactive-small-svg svg, .button-interactive-wide-no-background svg, .button-interactive-wide svg {
  fill: #292929;
}

.button-interactive-small-text:active, .button-interactive-small-svg:active, .button-interactive-wide-no-background:active, .button-interactive-wide:active {
  filter: brightness(85%);
}

.pet-card:hover .pet-card-learn-more, .button-interactive-small-text:hover, .button-interactive-small-svg:hover, .button-interactive-wide-no-background:hover, .button-interactive-wide:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.button-inactive-small-text {
  pointer-events: none;
  border-color: #CDCDCD;
  color: #CDCDCD;
}
.button-inactive-small-text svg {
  fill: #CDCDCD;
}

.button-active-small-text {
  pointer-events: none;
  background-color: #F1CDB3;
}

.pet-card-learn-more, .button-interactive-wide-no-background, .button-interactive-wide {
  padding: 13px 43px;
  font-size: 17px;
  line-height: 130%;
}

.button-interactive-small-svg, .button-active-small-text, .button-inactive-small-text, .button-interactive-small-text {
  width: 52px;
  height: 52px;
}

.button-active-small-text, .button-inactive-small-text, .button-interactive-small-text {
  padding-bottom: 3px;
  padding-left: 7px;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
}

.button-interactive-small-svg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__pet-name, .contacts-title, .in-addition-title, .help-title, .our-friends-title, .about-content__title {
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.contacts-title, .in-addition-title, .help-title, .our-friends-title, .about-content__title {
  color: #545454;
}
@media screen and (max-width: 767px) {
  .contacts-title, .in-addition-title, .help-title, .our-friends-title, .about-content__title {
    font-size: max(25px, 4.5572916667vw);
  }
}

.about-content__text2, .about-content__text1 {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
}
@media screen and (max-width: 767px) {
  .about-content__text2, .about-content__text1 {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 320px) {
  .about-content__text2, .about-content__text1 {
    text-align: justify;
  }
}

.popup__pet-breed, .pet-card-title, .contacts-link, .donation-number, .contribution-title {
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.popup__description-list, .popup__pet-description, .donation-information {
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "Georgia";
  src: url("assets/fonts/georgia.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("assets/fonts/arial.ttf");
}
@font-face {
  font-family: "Arial";
  src: url("assets/fonts/ariali.ttf");
  font-style: italic;
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: "Georgia", serif;
}

ul {
  margin: 0;
  padding: 0;
}

.start-screen-gradient-background-container {
  height: fit-content;
  background: url("assets/images/noise_transparent@2x.png"), radial-gradient(120% 220% at 0% 0%, #5B483A 0%, #262425 70%), #211F20;
}

.about-background-container {
  height: fit-content;
  background: #FFFFFF;
}

.our-friends-background-container {
  height: 877px;
  background: #F6F6F6;
}
@media screen and (max-width: 767px) {
  .our-friends-background-container {
    height: max(791px, 114.1927083333vw);
  }
}

.help-background-container {
  height: fit-content;
  background: #FFFFFF;
}

.in-addition-background-container {
  height: fit-content;
  background: #F6F6F6;
}

.footer-gradient-background-container {
  height: fit-content;
  background: url(assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.pets-header-background-container {
  height: 120px;
  background: #FFFFFF;
}

.pets-our-friends-background-container {
  height: fit-content;
  background: #F6F6F6;
}

.header-container {
  padding-top: 30px;
}

.main-container {
  padding-top: 80px;
  padding-bottom: 100px;
  transition: padding-top .6s, padding-bottom .6s;
}
@media screen and (max-width: 767px) {
  .main-container {
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.footer-container {
  padding-top: 40px;
  transition: padding-top .6s;
}
@media screen and (max-width: 1279px) {
  .footer-container {
    padding-top: 30px;
  }
}

.pets-our-friends-container {
  transition: padding-bottom .6s;
}
@media screen and (max-width: 1279px) {
  .pets-our-friends-container {
    padding-bottom: 76px;
  }
}
@media screen and (max-width: 767px) {
  .pets-our-friends-container {
    padding-bottom: 42px;
  }
}

.logo-and-menu {
  display: flex;
  align-items: start;
  justify-content: space-between;
  transition: margin .6s;
}
@media screen and (max-width: 767px) {
  .logo-and-menu {
    margin: 0 10px;
  }
}

.not-only {
  display: flex;
  flex-wrap: wrap;
  margin-top: 90px;
  row-gap: 100px;
  transition: row-gap .6s;
}
@media screen and (max-width: 1279px) {
  .not-only {
    margin-top: max(60px, 7vw);
  }
}
@media screen and (max-width: 768px) {
  .not-only {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  .not-only {
    row-gap: 105px;
  }
}

.not-only__content {
  margin-top: 163px;
  max-width: 460px;
  height: 322px;
  flex: 1 1 310px;
}
@media screen and (max-width: 1279px) {
  .not-only__content {
    margin-top: 12.734375vw;
  }
}
@media screen and (max-width: 768px) {
  .not-only__content {
    transition: margin-top .6s;
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .not-only__content {
    height: 296px;
  }
}

.not-only__title {
  margin-top: 1px;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .not-only__title {
    font-size: max(25px, 5.7291666667vw);
    letter-spacing: 0.06em;
  }
}
@media screen and (max-width: 320px) {
  .not-only__title {
    text-align: center;
    margin-left: 1px;
    margin-top: 0;
  }
}

.not-only__text {
  margin: 41px 0 42px 0;
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
}
@media screen and (max-width: 320px) {
  .not-only__text {
    text-align: center;
  }
}

.not-only__image {
  margin-left: auto;
}
@media screen and (max-width: 1279px) {
  .not-only__image {
    width: max(569px, 58%);
  }
}
@media screen and (max-width: 768px) {
  .not-only__image {
    height: 593px;
  }
}
@media screen and (max-width: 767px) {
  .not-only__image {
    height: unset;
    width: max(260px, 74.0885416667vw);
  }
}
@media screen and (max-width: 320px) {
  .not-only__image {
    margin-top: 0.24px;
    height: 271.77px;
  }
}

.not-only__button {
  display: block;
}
@media screen and (max-width: 768px) {
  .not-only__button {
    margin-left: 126px;
  }
}
@media screen and (max-width: 767px) {
  .not-only__button {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .not-only__button {
    margin-left: 46px;
  }
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  padding: 0 175px;
  row-gap: 80px;
}
@media screen and (max-width: 1279px) {
  .about-content {
    padding: 0 max(136px, 13vw) 0 max(135px, 13vw);
  }
}
@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column-reverse;
    width: 437px;
    padding: 0;
    margin: 0 136px 0 135px;
  }
}
@media screen and (max-width: 767px) {
  .about-content {
    width: max(300px, 56.9010416667vw);
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .about-content {
    row-gap: 41.02px;
  }
}

.about-content__text-content {
  width: 430px;
}
@media screen and (max-width: 767px) {
  .about-content__text-content {
    width: unset;
  }
}

@media screen and (max-width: 767px) {
  .about-content__title {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .about-content__title {
    margin-left: 1px;
    height: 64px;
  }
}

.about-content__text1 {
  margin-top: 24px;
  margin-bottom: 24px;
}
@media screen and (max-width: 320px) {
  .about-content__text1 {
    margin-top: 25px;
    margin-bottom: 21px;
  }
}

.about-content__text2 {
  padding-top: 1px;
}

.about-content__image {
  transition: margin-left .6s;
}
@media screen and (max-width: 768px) {
  .about-content__image {
    align-self: flex-end;
    margin-left: 69px;
  }
}
@media screen and (max-width: 767px) {
  .about-content__image {
    margin: 0 auto;
    width: max(260px, 39.0625vw);
  }
}
@media screen and (max-width: 320px) {
  .about-content__image {
    margin-bottom: 0.4px;
    height: 353.6px;
  }
}

.our-friends-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.our-friends-title {
  position: relative;
  left: 1px;
  text-align: center;
  height: 90px;
}
@media screen and (max-width: 767px) {
  .our-friends-title {
    height: unset;
  }
}
@media screen and (max-width: 320px) {
  .our-friends-title {
    height: 64px;
  }
}

.our-friends-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .our-friends-slider {
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 20px;
    padding: 0 15px;
    column-gap: 80px;
  }
}

@media screen and (max-width: 767px) {
  .our-friends-slider-button {
    flex-wrap: wrap;
    order: 1;
  }
}

.our-friends__slide-container {
  width: 990px;
  display: flex;
}
@media screen and (max-width: 1279px) {
  .our-friends__slide-container {
    width: max(580px, 81.9209039548%);
  }
}
@media screen and (max-width: 767px) {
  .our-friends__slide-container {
    width: max(270px, 75.5208333333vw);
  }
}

.our-friends__slide-content {
  margin: 0 auto;
  overflow: hidden;
}

.our-friends__slide-content__card-sets {
  position: relative;
  display: flex;
}

.our-friends__slide-content__card-set {
  display: flex;
  column-gap: 90px;
}
@media screen and (max-width: 1279px) {
  .our-friends__slide-content__card-set {
    column-gap: 40px;
  }
}

.our-friends__slide-content__card-set__slide-transition {
  transition: left .6s;
}

.our-friends-button {
  margin-left: 1px;
}
@media screen and (max-width: 768px) {
  .our-friends-button {
    margin-left: 0;
  }
}

.our-friends__paginator-content {
  padding: 15px 0;
  margin: 45px 0;
  height: 930px;
  width: 100%;
  overflow: hidden;
  transition: padding-top .6s, padding-bottom .6s, margin-top .6s, margin-bottom .6s;
}
@media screen and (max-width: 1279px) {
  .our-friends__paginator-content {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
@media screen and (max-width: 768px) {
  .our-friends__paginator-content {
    height: 1395px;
  }
}
@media screen and (max-width: 767px) {
  .our-friends__paginator-content {
    margin: 27px 0;
  }
}

.our-friends__cards-container_big {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 30px;
}

.our-friends__cards-container_big_tablet-height {
  height: 1395px;
}

.our-friends__paginator-buttons {
  display: flex;
  justify-content: space-between;
  width: 340px;
}
@media screen and (max-width: 767px) {
  .our-friends__paginator-buttons {
    width: max(300px, 44.2708333333vw);
  }
}

.help-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (max-width: 1279px) {
  .help-content {
    width: max(630px, 82.03125vw);
  }
}
@media screen and (max-width: 767px) {
  .help-content {
    width: max(290px, 82.03125vw);
  }
}

.help-title {
  position: relative;
  left: 1px;
  text-align: center;
}
@media screen and (max-width: 320px) {
  .help-title {
    height: 64px;
  }
}

.contributions-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 59px;
  column-gap: 120px;
  row-gap: 55px;
  list-style: none;
  transition: margin-top .6s;
}
@media screen and (max-width: 1279px) {
  .contributions-list {
    column-gap: max(60px, 7.8125vw);
  }
}
@media screen and (max-width: 767px) {
  .contributions-list {
    margin-top: 42px;
    column-gap: max(30px, 7.8125vw);
    row-gap: max(30px, 7.1614583333vw);
  }
}
@media screen and (max-width: 320px) {
  .contributions-list {
    justify-content: space-between;
  }
}

.contribution-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 113px;
}
@media screen and (max-width: 1279px) {
  .contribution-info {
    width: 170px;
  }
}
@media screen and (max-width: 767px) {
  .contribution-info {
    width: max(130px, 22.1354166667vw);
    height: max(87px, 14.7135416667vw);
  }
}

.contribution-image {
  fill: #F1CDB3;
}
@media screen and (max-width: 767px) {
  .contribution-image {
    height: max(50px, 7.8125vw);
    width: max(50px, 7.8125vw);
  }
}

.contribution-title {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .contribution-title {
    font-size: max(15px, 2.6041666667vw);
    line-height: 110%;
  }
}

.pet-food .contribution-title {
  width: 82px;
}
@media screen and (max-width: 767px) {
  .pet-food .contribution-title {
    width: unset;
  }
}

.transportation .contribution-image {
  position: relative;
  left: -1px;
}
@media screen and (max-width: 320px) {
  .transportation .contribution-image {
    position: unset;
  }
}
.transportation .contribution-title {
  width: 150px;
}
@media screen and (max-width: 767px) {
  .transportation .contribution-title {
    width: unset;
  }
}

.toys .contribution-title {
  width: 46px;
}
@media screen and (max-width: 767px) {
  .toys .contribution-title {
    width: unset;
  }
}

.bowls .contribution-image {
  margin-top: 2px;
}
@media screen and (max-width: 320px) {
  .bowls .contribution-image {
    margin-top: unset;
  }
}
.bowls .contribution-title {
  width: 153px;
}
@media screen and (max-width: 767px) {
  .bowls .contribution-title {
    width: unset;
  }
}

.shampoos .contribution-image {
  position: relative;
  left: -1px;
}
.shampoos .contribution-title {
  width: 101px;
}
@media screen and (max-width: 767px) {
  .shampoos .contribution-title {
    width: unset;
  }
}

.vitamins .contribution-image {
  margin-top: 3px;
  margin-left: -1px;
}
@media screen and (max-width: 320px) {
  .vitamins .contribution-image {
    margin: unset;
  }
}
.vitamins .contribution-title {
  width: 89px;
}
@media screen and (max-width: 767px) {
  .vitamins .contribution-title {
    width: unset;
  }
}

.medicines .contribution-title {
  width: 101px;
}
@media screen and (max-width: 767px) {
  .medicines .contribution-title {
    width: unset;
  }
}

.collars .contribution-image {
  margin-top: 4px;
}
@media screen and (max-width: 320px) {
  .collars .contribution-image {
    margin-top: unset;
  }
}
.collars .contribution-title {
  width: 165px;
}
@media screen and (max-width: 767px) {
  .collars .contribution-title {
    width: unset;
  }
}

.sleeping-areas .contribution-image {
  margin-left: 1px;
}
@media screen and (max-width: 768px) {
  .sleeping-areas .contribution-image {
    margin-left: 0;
  }
}
.sleeping-areas .contribution-title {
  width: 143px;
}
@media screen and (max-width: 767px) {
  .sleeping-areas .contribution-title {
    width: unset;
  }
}

.in-addition-content {
  position: relative;
  left: 0.5px;
  max-width: 915px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  row-gap: 60px;
  column-gap: 30px;
  transition: row-gap .6s;
}
@media screen and (max-width: 768px) {
  .in-addition-content {
    position: unset;
  }
}
@media screen and (max-width: 767px) {
  .in-addition-content {
    row-gap: 42.02px;
  }
}

@media screen and (max-width: 768px) {
  .in-addition-content__donation-puppy {
    margin-left: -1px;
  }
}
@media screen and (max-width: 767px) {
  .in-addition-content__donation-puppy {
    width: max(260px, 65.7552083333vw);
  }
}
@media screen and (max-width: 320px) {
  .in-addition-content__donation-puppy {
    height: 135.2px;
  }
}

.in-addition-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 380px;
  height: 282px;
}
@media screen and (max-width: 767px) {
  .in-addition-text-content {
    min-width: 300px;
  }
}
@media screen and (max-width: 320px) {
  .in-addition-text-content {
    align-items: center;
    height: 281px;
  }
}

@media screen and (max-width: 320px) {
  .in-addition-title {
    margin-left: 1px;
    text-align: center;
    height: 64px;
  }
}

@media screen and (max-width: 767px) {
  .donation-information {
    letter-spacing: unset;
  }
}
@media screen and (max-width: 320px) {
  .donation-information {
    margin-left: -1px;
    text-align: center;
    line-height: 160%;
  }
}

.donation-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 13px;
  border-radius: 9px;
}
@media screen and (max-width: 768px) {
  .donation-button {
    padding-right: 12px;
  }
}
@media screen and (max-width: 320px) {
  .donation-button {
    margin-left: -1px;
  }
}

.donation-number {
  margin-left: 15px;
}
@media screen and (max-width: 767px) {
  .donation-number {
    font-size: max(15px, 2.6041666667vw);
  }
}

.legal-information {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  transition: margin .6s;
}
@media screen and (max-width: 320px) {
  .legal-information {
    margin: 0 10px;
    text-align: justify;
  }
}

.footer-content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 65px;
  column-gap: 160px;
  transition: column-gap .6s, row-gap .6s;
}
@media screen and (max-width: 1279px) {
  .footer-content {
    column-gap: 60px;
  }
}
@media screen and (max-width: 767px) {
  .footer-content {
    row-gap: 40px;
  }
}

.contacts-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 234px;
  margin-top: 16px;
  transition: margin-top .6s;
}
@media screen and (max-width: 1279px) {
  .contacts-info {
    margin-top: 0;
  }
}

.contacts {
  width: 278.3px;
  margin-left: -0.3px;
}
@media screen and (max-width: 320px) {
  .contacts {
    align-items: center;
    height: 208px;
  }
}

.locations {
  width: 302px;
}
@media screen and (max-width: 320px) {
  .locations {
    height: 222px;
  }
}

.contacts-title {
  height: 90px;
  letter-spacing: 0.059em;
  color: #FFFFFF;
}
@media screen and (max-width: 767px) {
  .contacts-title {
    height: unset;
  }
}
@media screen and (max-width: 320px) {
  .contacts-title {
    text-align: center;
    height: 64px;
  }
}

.locations-title {
  position: relative;
  left: 1px;
  width: 270px;
}
@media screen and (max-width: 320px) {
  .locations-title {
    position: unset;
    align-self: center;
  }
}

.contacts-link {
  display: flex;
  align-items: center;
  color: #F1CDB3;
  text-decoration: none;
  transition: color 0.3s;
}
.contacts-link svg {
  flex: 0 0 auto;
  fill: currentColor;
  transition: fill 0.3s;
}
.contacts-link .contacts-link-text {
  margin-left: 20px;
}
.contacts-link:hover {
  color: #F6F6F6;
}
.contacts-link:active {
  filter: brightness(70%);
}

.first-address {
  margin-top: 1px;
}
@media screen and (max-width: 768px) {
  .first-address {
    margin-top: unset;
  }
}

@media screen and (max-width: 320px) {
  .second-address {
    margin-top: -1px;
  }
}

@media screen and (max-width: 767px) {
  .footer-content__image {
    width: max(260px, 39.0625vw);
  }
}
@media screen and (max-width: 320px) {
  .footer-content__image {
    height: 269px;
  }
}

.button-interactive-wide {
  background-color: #F1CDB3;
}

.pet-card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 435px;
  border-radius: 9px;
  overflow: hidden;
  flex: 0 0 270px;
  background: #FAFAFA;
  transition: background-color 0.2s, box-shadow 0.3s, filter 0.1s;
}
.pet-card:hover {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.0392156863);
}
.pet-card:active {
  filter: contrast(110%);
}

.pet-card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.pet-card-title {
  position: relative;
  left: 1px;
}

.pet-card-hidden {
  display: none;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.6);
}

.overlay_popup {
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.scroll-disable {
  overflow: hidden;
}

.popup {
  position: relative;
  border-radius: 9px;
  background-color: white;
}

.popup__close-button {
  position: absolute;
  right: -42px;
  top: -52px;
  transition: right .6s;
}
@media screen and (max-width: 768px) {
  .popup__close-button {
    right: -43px;
  }
}
@media screen and (max-width: 767px) {
  .popup__close-button {
    right: -30px;
  }
}

.popup__content {
  display: flex;
  column-gap: 29px;
  border-radius: inherit;
  overflow: hidden;
}
@media screen and (max-width: 1279px) {
  .popup__content {
    column-gap: 2.265625vw;
  }
}
@media screen and (max-width: 768px) {
  .popup__content {
    column-gap: 11px;
  }
}

.popup__image {
  width: 500px;
  align-self: center;
}
@media screen and (max-width: 1279px) {
  .popup__image {
    width: max(350px, 39.0625vw);
  }
}
@media screen and (max-width: 767px) {
  .popup__image {
    display: none;
  }
}

.popup__text-content {
  position: relative;
  left: 1px;
  top: 1px;
  margin-top: 50px;
  margin-right: 20px;
  width: 351px;
  color: #000000;
  transition: margin .6s;
}
@media screen and (max-width: 1279px) {
  .popup__text-content {
    margin-top: 10px;
    width: max(261px, 27.421875vw);
  }
}
@media screen and (max-width: 768px) {
  .popup__text-content {
    margin-top: 10px;
    margin-right: 8px;
    position: unset;
  }
}
@media screen and (max-width: 767px) {
  .popup__text-content {
    margin: 10px;
    width: max(220px, 20.390625vw);
  }
}

.popup__pet-name {
  height: 45px;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .popup__pet-name {
    text-align: center;
  }
}
@media screen and (max-width: 320px) {
  .popup__pet-name {
    margin-left: 4px;
  }
}

.popup__pet-breed {
  margin-top: 10px;
  color: inherit;
}
@media screen and (max-width: 767px) {
  .popup__pet-breed {
    text-align: center;
  }
}

.popup__pet-description {
  color: inherit;
  margin: 40px 0;
}
@media screen and (max-width: 1279px) {
  .popup__pet-description {
    margin: 3.125vw 0;
    font-size: 13px;
  }
}
@media screen and (max-width: 768px) {
  .popup__pet-description {
    margin: 20px 0;
  }
}
@media screen and (max-width: 767px) {
  .popup__pet-description {
    text-align: justify;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 320px) {
  .popup__pet-description {
    height: 112px;
  }
}

.popup__description-list {
  position: relative;
  top: 2px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: inherit;
  list-style: none;
  transition: row-gap .6s;
}
@media screen and (max-width: 1279px) {
  .popup__description-list {
    row-gap: 5px;
  }
}
@media screen and (max-width: 768px) {
  .popup__description-list {
    top: -2px;
  }
}
@media screen and (max-width: 320px) {
  .popup__description-list {
    top: unset;
    left: 1px;
  }
}

.popup__description-list__element {
  min-height: 18px;
  display: flex;
  align-items: start;
}

.popup__description-list__element__dot {
  height: 4px;
  width: 4px;
  align-self: center;
  border-radius: 50%;
  background-color: #F1CDB3;
}

.popup__description-list__element__text {
  position: relative;
  left: 2px;
  top: 1px;
  margin-left: 10px;
}

.popup__description-list__element__text__title {
  font-weight: bold;
  text-transform: capitalize;
}

.burger_dark {
  align-self: center;
}
.burger_dark .burger__line, .burger_dark::before, .burger_dark::after {
  background-color: #000000;
}

.burger_bright {
  align-self: center;
}
.burger_bright .burger__line, .burger_bright::before, .burger_bright::after {
  background-color: #F1CDB3;
}

.burger_rotated {
  margin-right: 1px;
  transform: rotate(90deg);
}

.nav-menu_mobile {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 0;
  width: 320px;
  z-index: 3;
  height: 100vh;
}
.nav-menu_mobile .nav-list {
  width: 320px;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}
.nav-menu_mobile .nav-list .nav-link {
  font-size: 32px;
  line-height: 160%;
}
.nav-menu_mobile .nav-list .nav-link::after {
  bottom: -10px;
}

.nav-menu_hidden {
  width: 0px;
}

.logo-bright .logo-title {
  color: #F1CDB3;
}
.logo-bright .logo-subtitle {
  color: #FFFFFF;
}
.logo-bright:hover .logo-title {
  color: #FDDCC4;
}

.nav-menu_bright .nav-link {
  color: #CDCDCD;
}
.nav-menu_bright .nav-list .nav-link_active, .nav-menu_bright .nav-link:hover {
  color: #FAFAFA;
}
.logo-dark .logo-title {
  color: #545454;
}
.logo-dark .logo-subtitle, .logo-dark:hover .logo-title {
  color: #292929;
}

.nav-menu_dark .nav-link {
  color: #545454;
}
.nav-menu_dark .nav-link:hover {
  color: #292929;
}
.nav-menu_mobile_bright {
  background-color: #FFFFFF;
}
.nav-menu_mobile_bright .nav-link {
  color: #545454;
}
.nav-menu_mobile_bright .nav-link:hover {
  color: #292929;
}
.nav-menu_mobile_dark {
  background-color: #292929;
}
.nav-menu_mobile_dark .nav-link {
  color: #CDCDCD;
}
.nav-menu_mobile_dark .nav-list .nav-link_active, .nav-menu_mobile_dark .nav-link:hover {
  color: #FAFAFA;
}

/*# sourceMappingURL=style.css.map */
