.start-screen-gradient-background-container {
    height: fit-content;
    background: url("assets/images/noise_transparent@2x.png"), radial-gradient(120% 220% at 0% 0%, #5B483A 0%, #262425 70%), #211F20;
}

.about-background-container {
    height: fit-content;
    background: $color-light-xl;
}

.our-friends-background-container {
    height: 877px;
    background: $color-light-l;
}

.help-background-container {
    height: fit-content;
    background: $color-light-xl;
}

.in-addition-background-container {
    height: 462px;
    background: $color-light-l;
}

.footer-gradient-background-container {
    height: 350px;
    background: url(assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;;
}

.pets-header-background-container {
    height: 120px;
    background: $color-light-xl;
}

.pets-our-friends-background-container {
    height: 1342px;
    background: $color-light-l;
}