.header-container {
    @extend %container;
    padding-top: 30px;
}

.main-container {
    @extend %container;
    padding-top: 80px;
    padding-bottom: 100px;
}

.footer-container {
    @extend %container;
    padding-top: 40px;
}