.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 65px;
    column-gap: 160px;
    @include set-element-animation(column-gap);

    @include media-smaller-than-desktop {
        column-gap: 60px;
    }
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
    @include set-element-animation(margin-top);

    @include media-smaller-than-desktop {
        margin-top: 0;
    }
}

.contacts {
    width: 278px;
    white-space: nowrap;
}

.locations {
    width: 302px;
}

.contacts-title {
    @extend %second-title;
    height: 90px;
    color: $color-light-xl;
}

.locations-title {
    position: relative;
    left: 1px;
}

.contacts-link {
    @extend %third-title;
    display: flex;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    transition: color .3s;

    & svg {
        flex: 0 0 auto;
        fill: currentColor;
        transition: fill .3s;
    }

    & .contacts-link-text {
        margin-left: 20px;
    }

    &:hover {
        color: $color-light-l;
    }

    &:active {
        filter: brightness(70%);
    }
}

.first-address {
    margin-top: 1px;

    @include media-tablet {
        margin-top: 0;
    }
}