.footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 65px;
    column-gap: 160px;
    @include set-element-animation(column-gap, row-gap);

    @include media-smaller-than-desktop {
        column-gap: 60px;
    }

    @include media-smaller-than-tablet {
        row-gap: 40px;
    }
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
    @include set-element-animation(margin-top);

    @include media-smaller-than-desktop {
        margin-top: 0;
    }
}

.contacts {
    width: 278.3px;
    margin-left: -0.3px;

    @include media-mobile {
        align-items: center;
        height: 208px;
    }
}

.locations {
    width: 302px;

    @include media-mobile {
        height: 222px;
    }
}

.contacts-title {
    @extend %second-title;
    height: 90px;
    color: $color-light-xl;

    @include media-smaller-than-tablet {
        height: unset;
    }

    @include media-mobile {
        text-align: center;
        height: 64px;
    }
}

.locations-title {
    position: relative;
    left: 1px;
    width: 270px;

    @include media-mobile {
        position: unset;
        align-self: center;
    }
}

.contacts-link {
    @extend %third-title;
    display: flex;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    transition: color .3s;

    & svg {
        flex: 0 0 auto;
        fill: currentColor;
        transition: fill .3s;
    }

    & .contacts-link-text {
        margin-left: 20px;
    }

    &:hover {
        color: $color-light-l;
    }

    &:active {
        filter: brightness(70%);
    }
}

.first-address {
    margin-top: 1px;

    @include media-tablet {
        margin-top: unset;
    }
}

.second-address {
    @include media-mobile {
        margin-top: -1px;
    }
}

.footer-content__image {
    @include media-smaller-than-tablet {
        width: max(260px, calc($footer-content__image-width / $tablet-content-width * 100vw));
    }

    @include media-mobile {
        height: 269px;
    }
}