.footer-content {
    display: flex;
    justify-content: space-between;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 234px;
    margin-top: 16px;
}

.contacts {
    width: fit-content;
}

.locations {
    width: 302px;
}

.contacts-title {
    @extend %second-title;
    height: 90px;
    color: $color-light-xl;
}

.locations-title {
    position: relative;
    left: 1px;
}

.contacts-link {
    @extend %third-title;
    display: flex;
    align-items: center;
    color: $color-primary;
    text-decoration: none;
    transition: color .3s;

    & svg {
        flex: 0 0 auto;
        fill: currentColor;
        transition: fill .3s;
    }

    & .contacts-link-text {
        margin-left: 20px;
    }

    &:hover {
        color: $color-light-l;
    }

    &:active {
        filter: brightness(70%);
    }
}

.first-address {
    position: relative;
    top: 1px;
}