.help-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    margin: 0 auto;

    @include media-smaller-than-desktop {
        width: max($help-content-tablet-width, $help-content-tablet-width / $tablet-content-width * 100vw);
    }
}

.help-title {
    @extend %second-title;
    position: relative;
    left: 1px;
    width: 380px;
    height: 90px;
    text-align: center;
}

.contributions-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    column-gap: 120px;
    row-gap: 55px;
    list-style: none;

    @include media-smaller-than-desktop {
        column-gap: max($contributions-list-column-gap-tablet, $contributions-list-column-gap-tablet / $tablet-content-width * 100vw);
    }
}

.contribution-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 113px;

    @include media-smaller-than-desktop {
        width: 170px;
    }
}

.contribution-image {
    fill: $color-primary;
}

.contribution-title {
    @extend %third-title;
    white-space: nowrap;
}

.pet-food {
    & .contribution-title {
        width: 82px;
    }
}

.transportation {
    & .contribution-image {
        position: relative;
        left: -1px;
    }

    & .contribution-title {
        width: 150px;
    }
}

.toys {
    & .contribution-title {
        width: 46px;
    }
}

.bowls {
    & .contribution-image {
        margin-top: 2px;
    }

    & .contribution-title {
        width: 153px;
    }
}

.shampoos {
    & .contribution-image {
        position: relative;
        left: -1px;
    }

    & .contribution-title {
        width: 101px;
    }
}

.vitamins {
    & .contribution-image {
        margin-top: 3px;
        margin-left: -1px;

        @include media-tablet {
            margin-left: 0;
        }
    }

    & .contribution-title {
        width: 89px;
    }
}

.medicines {
    & .contribution-title {
        width: 101px;
    }
}

.collars {
    & .contribution-image {
        margin-top: 4px;
    }

    & .contribution-title {
        width: 165px;
    }
}

.sleeping-areas {
    & .contribution-image {
        margin-left: 1px;

        @include media-tablet {
            margin-left: 0;
        }
    }

    & .contribution-title {
        width: 143px;
    }
}