.in-addition-content {
    position: relative;
    left: 0.5px;
    max-width: 915px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
    row-gap: 60px;
    column-gap: 30px;

    @include media-tablet {
        position: unset;
    }
}

.in-addition-content__donation-puppy {
    @include media-tablet {
        margin-left: -1px;
    }
}

.in-addition-text-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 380px;
    height: 282px;
}

.in-addition-title {
    @extend %second-title;
}

.donation-information {
    @extend %fourth-title;
}

.donation-button {
    display: flex;
    justify-content: space-between;
    padding: 8px 13px;
    border-radius: 9px;

    @include media-tablet {
        padding-right: 12px;
    }
}

.donation-number {
    @extend %third-title;
    margin-left: 15px;
}

.legal-information {
    margin: 0;
    font-family: $font-arial-normal;
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
    color: $color-dark-m;
}