.not-only {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
}

.not-only-content {
    margin-top: 163px;
    width: 460px;
    height: 322px;
}

.not-only-title {
    @extend %title;
    margin-top: 1px;
    width: 310px;
    font-size: 44px;
    line-height: 130%;
    color: $color-light-xl;
}

.not-only-text {
    margin: 41px 0 42px 0;
    font-family: $font-arial-normal;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
}