.our-friends-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.our-friends-title {
    @extend %second-title;
    position: relative;
    left: 1px;
    width: 400px;
    height: 90px;
    text-align: center;
}

.our-friends-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 435px;
    width: 100%;
}

.our-friends-slider-button {
    position: relative;
    top: 1px;
}

.our-friends-cards {
    display: flex;
    justify-content: space-between;
    width: 990px;
}

.our-friends-button {
    position: relative;
    left: 1px;
}

.pets-our-friends-slider {
    height: 930px;
    flex-wrap: wrap;
}

.pets-slider-controls {
    display: flex;
    justify-content: space-between;
    width: 340px;
}