.our-friends-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.our-friends-title {
    @extend %second-title;
    position: relative;
    left: 1px;
    width: 400px;
    height: 90px;
    text-align: center;
}

.our-friends-slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.our-friends-slider-button {
    position: relative;
    top: 1px;
}

.our-friends__cards-container {
    width: $our-friends-cards-desktop-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    @include media-smaller-than-desktop {
        width: max($our-friends-cards-tablet-width, $our-friends-cards-tablet-width / $our-friends-slider-tablet-width * 100%);
        column-gap: max($our-friends-cards-tablet-column-gap, $our-friends-cards-tablet-column-gap / $our-friends-cards-tablet-width * 100%);
    }
}

.our-friends-button {
    margin-left: 1px;

    @include media-tablet {
        margin-left: 0;
    }
}

.our-friends__cards-container_big {
    padding: 15px 0;
    margin: 45px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
    @include set-element-animation(padding-top, padding-bottom, margin-top, margin-bottom);

    @include media-smaller-than-desktop {
        padding: 0;
        margin-top: 30px;
        margin-bottom: 40px;
        max-height: 1365px;
        overflow-y: hidden;
    }
}

.pets-slider-controls {
    display: flex;
    justify-content: space-between;
    width: 340px;
}