* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    display: inline-block;
    min-width: 100%;
    font-family: "Georgia", serif;
}

ul {
    margin: 0;
    padding: 0;
}