@font-face {
    font-family: 'Georgia';
    src: url('assets/fonts/georgia.ttf');
}

@font-face {
    font-family: 'Arial';
    src: url("assets/fonts/arial.ttf");
}

@font-face {
    font-family: 'Arial';
    src: url("assets/fonts/ariali.ttf");
    font-style: italic;
}