@mixin media-smaller-than-desktop {
    @media screen and (max-width: ($desktop-content-width - 1px)) {
        @content;
    }
}

@mixin media-tablet {
    @media screen and (max-width: $tablet-content-width) {
        @content;
    }
}

@mixin set-element-animation($properties...) {
    $result: ();
    @each $property in $properties {
        $result: append($result, $property + " .6s", comma);
    }

    transition: $result;
}