%container {
    width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
}

%logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 60px;
    text-decoration: none;

    & .logo-title {
        font-size: 32px;
        line-height: 115%;
        letter-spacing: .06em;
        text-transform: capitalize;
    }

    & .logo-subtitle {
        margin-left: 4px;
        font-family: $font-arial-normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: .1em;
    }
}

%nav-menu {
    width: 443px;
    height: 27px;
    margin-top: 16px;

    & .nav-list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        & .nav-link {
            position: relative;
            text-decoration: none;
            font-family: $font-arial-normal;
            font-size: 15px;
            line-height: 24px;
            transition: color .3s;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: -7px;
                height: 3px;
                background: $color-primary;
                transition: left .5s,  right .5s;
            }
        }

        & > :first-child .nav-link::after, & .nav-link:hover::after {
            left: 0;
            right: 0;
        }
    }
}

%title {
    margin: 0;
    font-weight: 400;
}

%button {
    cursor: pointer;
    padding: 13px 43px;
    border: 2px solid $color-primary;
    border-radius: 100px;
    font-size: 17px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    fill: $color-dark-3xl;
    transition: background-color .2s, border-color .2s;
}

%button-interactive {
    @extend %button;

    &:hover {
        background-color: $color-primary-light;
        border-color: $color-primary-light;
    }
}

%button-inactive {
    @extend %button;
    border-color: $color-dark-s;
    color: $color-dark-s;
    fill: $color-dark-s;
}

%button-active {
    @extend %button;
    background-color: $color-primary;
    color: $color-dark-s;
    fill: $color-dark-s;
}