%container {
    width: 1280px;
    height: 100%;
    margin: 0 auto;
    padding: 0 40px;
}

%logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 60px;
    text-decoration: none;

    & .logo-title {
        font-size: 32px;
        line-height: 115%;
        letter-spacing: .06em;
        text-transform: capitalize;
        transition: color .2s, filter .1s;;
    }

    & .logo-subtitle {
        margin-left: 4px;
        font-family: $font-arial-normal;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: .1em;
        transition: color .2s, filter .1s;
    }

    &:active .logo-title,
    &:active .logo-subtitle {
        filter: blur(.5px);
    }
}

%nav-menu {
    width: 443px;
    height: 27px;
    margin-top: 16px;

    & .nav-list {
        display: flex;
        justify-content: space-between;
        list-style: none;

        & .nav-link {
            position: relative;
            text-decoration: none;
            font-family: $font-arial-normal;
            font-size: 15px;
            line-height: 24px;
            transition: color .3s;

            &::after {
                content: "";
                position: absolute;
                left: 50%;
                right: 50%;
                bottom: -7px;
                height: 3px;
                background: $color-primary;
                transition: left .5s,  right .5s, filter .2s;
            }

            &:active::after {
                filter: brightness(70%);
            }
        }

        & .nav-link:hover {
            @extend %nav-link-selected;
        }
    }
}

%nav-link-selected {
    &::after {
        left: 0;
        right: 0;
    }
}

%active-nav-link {
    @extend %nav-link-selected;

    &:active::after {
        filter: none;
    }
}

%title {
    margin: 0;
    font-weight: 400;
}

%button {
    cursor: pointer;
    border: 2px solid $color-primary;
    border-radius: 100px;
    letter-spacing: 0.06em;
    color: $color-dark-3xl;
    background-color: transparent;
    transition: background-color .2s, border-color .2s, filter .2s;

    & svg {
        fill: $color-dark-3xl;
    }
}

%button-interactive {
    @extend %button;

    &:hover {
        @extend %button-hover;
    }

    &:active {
        filter: brightness(85%);
    }
}

%button-hover {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
}

%button-inactive {
    @extend %button;
    cursor: default;
    border-color: $color-dark-s;
    color: $color-dark-s;

    & svg {
        fill: $color-dark-s;
    }
}

%button-active {
    @extend %button;
    background-color: $color-primary;
}

%button-wide {
    padding: 13px 43px;
    font-size: 17px;
    line-height: 130%;
}

%button-small {
    width: 52px;
    height: 52px;

}

%button-small-text {
    @extend %button-small;
    padding-bottom: 3px;
    padding-left: 7px;
    font-size: 20px;
    line-height: 115%;
    text-align: center;
}

%button-small-svg {
    @extend %button-small;
    display: flex;
    justify-content: center;
    align-items: center;
}

%second-title {
    @extend %title;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

%about-text {
    margin: 0;
    font-family: $font-arial-normal;
    font-size: 15px;
    line-height: 160%;
}

%third-title {
    @extend %title;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}

%fourth-title {
    @extend %title;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: $color-dark-l;
}