$font-arial-normal: "Arial", sans-serif;
$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-primary-light: #FDDCC4;
$color-dark-l: #545454;
$color-light-l: #F6F6F6;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;

$desktop-content-width: 1280px;
$tablet-content-width: 768px;
$mobile-content-width: 320px;