$font-arial-normal: "Arial", sans-serif;
$color-primary: #F1CDB3;
$color-light-xl: #FFFFFF;
$color-light-s: #FAFAFA;
$color-dark-s: #CDCDCD;
$color-dark-3xl: #292929;
$color-primary-light: #FDDCC4;
$color-dark-l: #545454;
$color-light-l: #F6F6F6;
$color-dark-xl: #4C4C4C;
$color-dark-m: #B2B2B2;
$color-overlay: #00000099;
$color-popup-text: #000000;

$desktop-content-width: 1280px;
$tablet-content-width: 768px;
$mobile-content-width: 320px;

$pet-card-width: 270px;
$pet-card-height: 435px;

$our-friends-cards-desktop-column-gap: 90px;
$our-friends-cards-tablet-column-gap: 40px;
$our-friends-cards-desktop-width: $pet-card-width * 3 + $our-friends-cards-desktop-column-gap * 2;
$our-friends-slider-tablet-width: 708px;
$our-friends-cards-tablet-width: $pet-card-width * 2 + $our-friends-cards-tablet-column-gap;

$help-content-tablet-width: 630px;

$contributions-list-column-gap-tablet: 60px;
$contributions-list-column-gap-mobile: 30px;
$contributions-list-row-gap: 55px;
$contributions-list-row-gap-mobile: 30px;
$contribution-info-height: 113px;
$contribution-info-width-tablet: 170px;

$not-only__content-margin-top-desktop: 163px;

$container-mobile-left-right-padding: 10px;

$burger-line-height: 2px;

$not-only__title-font-size: 44px;
$not-only__button-margin-left-mobile: 46px;
$not-only__image-width-tablet: 569px;
$not-only__image-width-mobile: 260px;

$second-title-font-size: 35px;
$about-content-width-tablet: 437px;
$about-content__image-width-tablet: 300px;

$our-friends-background-container-height-tablet: 877px;

$third-title-font-size: 20px;

$in-addition-content__donation-puppy-width: 505px;

$footer-content__image-width: 300px;

$pets-slider-controls-width: 340px;

$paginator-tablet-height: 1395px;

$button-small-width-height: 52px;