.pet-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $pet-card-height;
    border-radius: 9px;
    overflow: hidden;
    flex: 0 0 $pet-card-width;
    background: $color-light-s;
    transition: background-color .2s, box-shadow .3s, filter .1s;

    &:hover {
        background-color: $color-light-xl;
        box-shadow: 0px 2px 35px 14px #0d0d0d0a;
    }

    &:hover .pet-card-learn-more {
        @extend %button-hover;
    }

    &:active {
        filter: contrast(110%);
    }
}

.pet-card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.pet-card-title {
    @extend %third-title;
    position: relative;
    left: 1px;
}

.pet-card-learn-more {
    @extend %button;
    @extend %button-wide;
}

.pet-card-hidden {
    display: none;
}