.logo-dark {
    @extend %logo;

    & .logo-title {
        color: $color-dark-l;
    }

    & .logo-subtitle,
    &:hover .logo-title {
        color: $color-dark-3xl;
    }
}

.nav-menu-dark {
    @extend %nav-menu;

    & .nav-link {
        color: $color-dark-l;
    }

    & .nav-link:hover {
        color: $color-dark-3xl;
    }

    & .nav-list> :nth-child(2) .nav-link {
        @extend %active-nav-link;
    }
}

.burger_dark {
    @include create-styled-burger(#000000);
    align-self: center;
}