.logo-dark {
    @extend %logo;

    & .logo-title {
        color: $color-dark-l;
    }

    & .logo-subtitle,
    &:hover .logo-title {
        color: $color-dark-3xl;
    }
}

.nav-menu_dark {
    @extend %nav-menu;

    & .nav-link {
        color: $color-dark-l;
    }

    & .nav-link:hover {
        color: $color-dark-3xl;
    }

    & .nav-list .nav-link_active {
        @extend %active-nav-link;
    }
}

.nav-menu_mobile_bright {
    background-color: $color-light-xl;

    & .nav-link {
        color: $color-dark-l;
    }

    & .nav-link:hover {
        color: $color-dark-3xl;
    }

    & .nav-list .nav-link_active {
        @extend %active-nav-link;
    }
}

.nav-menu_mobile_dark {
    background-color: $color-dark-3xl;

    & .nav-link {
        color: $color-dark-s;
    }

    & .nav-list .nav-link_active,
    & .nav-link:hover {
        color: $color-light-s;
    }

    & .nav-list .nav-link_active {
        @extend %active-nav-link;
    }
}